.home {
  width: 100%;
  height: 100vh;
  background-image: url("/public/assets/homeBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.8; */
}

.nextEvent {
  height: 30px;
  width: 100%;
  background-color: rgba(74, 48, 243, 0.804);
  z-index: 2;
}

.writings {
  width: 60%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: start;
  position: absolute;
  left: 100px;
  /* border: 1px solid white; */
  top: 150px;
  padding: 10px;
}

.writings * {
  color: white;
}

.societyName {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.writings .societyName h1 {
  font-size: 50px;
  letter-spacing: 2px;
}

.writings .societyName p {
  font-size: 30px;
  padding: 5px;
  margin-left: 40px;
  border-left: 3px solid rgba(74, 48, 243, 0.804);
}

.societyDescription {
  width: 40%;
}
