.navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 2;
}

.navbarLogo {
  height: 30px;
  object-fit: contain;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: rgba(74, 48, 243, 0.804);
}

.nav-white,
.nav-black {
  display: flex;
  gap: 15px;
}

.nav-black a {
  color: black;
}

.nav-white a {
  color: white;
}
