.navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 2;
}

.navbarLogo {
  height: 30px;
  object-fit: contain;
}

.navbarLinks {
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  color: white;
}
